<%- include('header.ejs') %>

<main class="main-wrap">
  <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>

  <header class="main-header navbar"></header>
  <section class="content-main">
    <div class="content-header">
      <h2 class="content-title">Blank page</h2>
      <div>
        <a href="#" class="btn btn-primary">Create new</a>
      </div>
    </div>
    <div class="card mb-4">
      <header class="card-header">
        <h4>Card header</h4>
      </header>
      <div class="card-body">
        <h5 class="card-title">Card content</h5>
        <div class="mt-4">
          <div class="text-muted font-size-14">
            <p>
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
              consectetur, adipisci velit, sed quia non numquam eius modi
              tempora incidunt ut labore et dolore magnam enim ad minima veniam
              quis
            </p>
            <p class="mb-4">
              Ut enim ad minima veniam, quis nostrum exercitationem ullam
              corporis suscipit laboriosam, nisi ut aliquid ex ea reprehenderit
              qui in ea voluptate velit esse quam nihil molestiae consequatur,
              vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? At
              vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis praesentium voluptatum deleniti atque corrupti quos
              dolores et quas molestias excepturi sint occaecati cupiditate non
              provident, similique sunt
            </p>
            <p>
              Itaque earum rerum hic tenetur a sapiente delectus, ut aut
              reiciendis voluptatibus maiores alias consequatur aut perferendis
              doloribus asperiores repellat. Sed ut perspiciatis unde omnis iste
              natus error sit
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- card end// -->
  </section>
  <footer class="main-footer font-xs">
    <div class="row pb-30 pt-15">
      <div class="col-sm-6">
        <script>
          document.write(new Date().getFullYear());
        </script>
        ©, Evara - HTML Ecommerce Template .
      </div>
      <div class="col-sm-6">
        <div class="text-sm-end">All rights reserved</div>
      </div>
    </div>
  </footer>
  <%- include('footer.ejs') %>
</main>
