  <!-- Footer Section Start -->
  <div class="section footer-section">
    <!-- Footer Top Start -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-md-4">
                    <!-- Footer Logo Start -->
                    <div class="footer-logo">
                        <a href="/home"><img src="/imgs/images/logo.png" width="154" height="46" alt="Logo" /></a>
                    </div>
                    <!-- Footer Logo End -->
                </div>
                <div class="col-xl-5 col-md-8">
                    <!-- Footer Contact & Payment End -->
                    <div class="footer-contact-payment d-flex justify-content-around">
                        <div class="footer-contact">
                            <div class="contact-icon">
                                <img src="/imgs/images/icon/icon-4.png" width="39" height="46" alt="Icon" />
                            </div>

                            <div class="contact-content">
                                <h6 class="title">Call Us:</h6>
                                <p>9495785815</p>
                            </div>
                        </div>
                        
                    </div>
                    <!-- Footer Contact & Payment End -->
                </div>
                <div class="col-xl-5 d-flex align-items-center justify-content-end">
                  <div class="footer-payment">
                    <img src="/imgs/images/payment.png" width="192" height="21" alt="Payment" />
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Top End -->

    <!-- Footer Copyright End -->
    <div class="copyright">
        <div class="container">
            <div class="copyright-text">
                <p>
                    &copy; 2024 <span> Casaluxe </span>
                </p>
            </div>
        </div>
    </div>
    <!-- Footer Copyright End -->
</div>
<!-- Footer Section End -->

<!--Back To Start-->
<button id="backBtn" class="back-to-top"><i class="pe-7s-angle-up"></i></button>
<!--Back To End-->
<!-- JS
============================================ -->

<!-- Modernizer & jQuery JS -->
<script src="/js/userJs/modernizr-3.11.2.min.js"></script>
<script src="/js/userJs/jquery-3.5.1.min.js"></script>

<!-- Bootstrap JS -->
<script src="/js/plugins/popper.min.js"></script>
<script src="/js/plugins/bootstrap.min.js"></script>


<!-- Plugins JS -->
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.all.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/plugins/swiper-bundle.min.js"></script>
<script src="/js/plugins/ajax-contact.js"></script>
<script src="/js/plugins/odometer.min.js"></script>
<script src="/js/plugins/select2.min.js"></script>
<script src="/js/plugins/ion.rangeSlider.min.js"></script>
<script src="/js/plugins/jquery.zoom.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>



<!-- Main JS -->
<script src="/js/userJs/cartUser.js"></script>
<script src="/js/userJs/walletUser.js"></script>
<script src="/js/userJs/orderUser.js"></script>
<script src="/js/userJs/addressUser.js"></script>
<script src="/js/userJs/signupUser.js"></script>
<script src="/js/userJs/mainfront.js"></script>


</body>


</html>