<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from htmldemo.net/furbar-1/furbar/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 11 Feb 2024 10:15:36 GMT -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Casaluxe</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/svg+xml" href="/imgs/images/armchair-svgrepo-com.svg" />


    <!-- CSS
	============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/css/plugins/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="/css/plugins/font-awesome.min.css" />

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/css/plugins/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/plugins/animate.min.css" />
    <link rel="stylesheet" href="/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/plugins/odometer.min.css" />
    <link rel="stylesheet" href="/css/plugins/select2.min.css" />
    <link rel="stylesheet" href="/css/plugins/ion.rangeSlider.min.css" />

    <!-- Main Style CSS -->
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <link rel="stylesheet" href="/css/style.min.css" />
</head>


<body>
    <!-- Header Start  -->
    <div class="header-area header-sticky d-none d-lg-block">
        <div class="container position-relative">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <!-- Header Logo Start -->
                    <div class="header-logo">
                        <a href="/"><img src="/imgs/images/logo.png" width="154" height="46" alt="Logo" /></a>
                    </div>
                    <!-- Header Logo End -->
                </div>
                <div class="col-lg-6">
                   
                </div>
                <div class="col-lg-3">
                    <!-- Header Meta Start -->
                    <div class="header-meta">
                        <a class="btn btn-white btn-hover-success mx-2" href="/login">Login</a>
                        <a class="btn btn-white btn-hover-success" href="/Signup">Signup</a>

                    </div>
                    <!-- Header Meta End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Header Mobile Start -->
    <div class="header-mobile section d-lg-none">
        <!-- Header Mobile top Start -->
        <div class="header-mobile-top header-sticky">
            <div class="container">
                <div class="row row-cols-3 gx-2 align-items-center">
                    <div class="col">
                        <!-- Header Toggle Start -->
                        <div class="header-toggle">
                            <button class="mobile-menu-open" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                        <!-- Header Toggle End -->
                    </div>
                    <div class="col">
                        <!-- Header Logo Start -->
                        <div class="header-logo text-center">
                            <a href="/"><img src="/imgs/images/logo.png" width="154" height="46" alt="Logo" /></a>
                        </div>
                        <!-- Header Logo End -->
                    </div>
                    <div class="col">
                        <!-- Header Action Start -->
                        <div class="header-meta">
                            <div class="dropdown">
                                <a class="action" href="#" role="button" data-bs-toggle="dropdown"><i class="pe-7s-user"></i></a>

                                <ul class="dropdown-menu dropdown-profile">
                                    <li>
                                        <a href="my-account.html">My Account</a>
                                    </li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="login.html">Sign In</a></li>
                                </ul>
                            </div>
                            <a class="action" href="/">
                                <i class="pe-7s-shopbag"></i>
                                <span class="number">3</span>
                            </a>
                        </div>
                        <!-- Header Action End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Mobile top End -->

        <!-- Header Mobile Bottom End -->
        <div class="header-mobile-bottom">
            <div class="container">
                <!-- Header Search Start -->
                <div class="header-search">
                    <form action="#">
                        <input type="text" placeholder="Enter your search key ... " />
                        <button><i class="pe-7s-search"></i></button>
                    </form>
                </div>
                <!-- Header Search End -->
            </div>
        </div>
        <!-- Header Mobile Bottom End -->
    </div>
    <!-- Header Mobile End -->

    <!-- off Canvas Start -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu">
        <div class="offcanvas-header">
            <!-- Canvas Action Start -->
            <div class="canvas-action">
                <!-- <a class="action" href="compare.html"><i class="icon-sliders"></i> Compare
                    <span class="action-num">(3)</span></a> -->
                <a class="action" href="/wishlist"><i class="icon-heart"></i> Wishlist
                    <span class="action-num">(3)</span></a>
            </div>
            <!-- Canvas Action end -->

            <!-- Canvas Close bar Start -->
            <div class="canvas-close-bar">
                <span>Menu</span>
                <button class="menu-close" data-bs-dismiss="offcanvas">
                    <i class="pe-7s-angle-left"></i>
                </button>
            </div>
            <!-- Canvas Close bar End -->
        </div>

        <div class="offcanvas-body">
            <!-- Canvas Menu Start -->
            <div class="canvas-menu">
                <nav>
                 
                </nav>
            </div>
            <!-- Canvas Menu End -->
        </div>
    </div>
    <!-- off Canvas End -->


    <!-- Page Banner Section Start -->
    <div class="section page-banner-section" style="background-image: url(/imgs/images/page-banner.jpg)">
        <div class="container">
            <!-- Page Banner Content End -->
            <div class="page-banner-content">
                <h2 class="title">Login</h2>

                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Login</li>
                </ul>
            </div>
            <!-- Page Banner Content End -->
        </div>
    </div>
    <!-- Page Banner Section End -->

    <!-- Login Section Start -->
    <div class="section section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <!-- Login & Register Start -->
                    <div class="login-register-wrapper">
                        <h4 class="title">Reset your password</h4>
                        <form method="post" id="sendotp" action="/passwordchange">
                            <div class="mb-3">
                                <label for="" class="form-label">Email address</label><span id="err" class="ms-5 text-danger"> <%= locals.error %> </span>
                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required="true" name="email">
                                <div class=" d-flex flex-col  align-items-center ms-2" id="check"></div>
                                <div id="emailHelp" class="form-text d-flex flex-col align-items-center justify-content-end">
                                  <div class="form-text d-flex flex-col  align-items-center">
                                    <button class="btn btn-success" id="checkbutton" type="button" onclick="checkemail()" value="">Check</button>
                                    <div class=" " id="view" style="display: none;">
                                      <div class="d-flex flex-col">
                                        <input type="text" id="otp" class="me-2 w-2" placeholder="OTP" maxlength="5">
                                        <button class="btn btn-white mx-1 " id="verify" onclick="verifyOTP()" type="button">Verify</button>
                                      </div>
                                      <div class=" d-flex flex-col  align-items-center mx-2" id="result"></div>
                                      <div class="d-flex flex-col align-items-center " id="dummy">
                                        <div class="form-text d-flex flex-col align-items-center mx-1" id="countdown"></div>
                                      <button class="btn btn-primary ms-2" id="collapse" type="button"  onclick="sendforgotOTP()" >
                                        Send OTP
                                      </button></div>
                                    </div>
                                </div>
                                </div>
                              </div>
                            <div id="passwordfield" style="display: none;" class=" ">
                                <div  class="mb-3">
                                    <label for="password" class="form-label">Password</label><% if (locals.resultpassword) { %>
                                      <span style="color: red; margin-left: 40%;"><%= resultpassword %></span><% } %>
                                    <input oninput="isstrong(this.value)" type="password" required="true" class="form-control" id="password" name="password" minlength="8">
                                    <span class="message" id="strong-password">
                                  </div>
                                  <div class="mb-3">
                                    <label for="confirmpassword" class="form-label">Confirm Password</label>
                                    <input type="password" required="true" class="form-control" id="confirmpassword" minlength="8" oninput="checkPasswordMatch()" name="confirmpassword">
                                    <div class="form-text" id="passwordMatchMessage"></div>
                                  </div>
                                  <div class="form-group">
                                    <button type="submit" id="changepasswordbutton" class="btn btn-fill-out btn-block hover-up" name="login">Change password</button>
                                </div>
                            </div>
                            
                          </form>
                    </div>
                    <!-- Login & Register End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Login Section End -->

    <%- include('footer.ejs') %>