<!doctype html>
<html lang="en">

<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Furniture Shop Html Template">
<meta name="author" content>
<meta name="generator" content="Jekyll">
<title>Casaluxe</title>

<script src="../cdn-cgi/apps/head/2oc_RD5SS6wgN5SiQnSEnWVNHg8.js"></script><link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
<link rel="stylesheet" href="/js/vendors/fontawesome-pro-5/css/all.css">
<link rel="stylesheet" href="/js/vendors/bootstrap-select/css/bootstrap-select.min.css">
<link rel="stylesheet" href="/js/vendors/slick/slick.min.css">
<link rel="stylesheet" href="/js/vendors/magnific-popup/magnific-popup.min.css">
<link rel="stylesheet" href="/js/vendors/jquery-ui/jquery-ui.min.css">
<link rel="stylesheet" href="/js/vendors/animate.css">
<link rel="stylesheet" href="/js/vendors/mapbox-gl/mapbox-gl.min.css">

<link rel="stylesheet" href="/css/themes.css">

<link rel="icon" href="imgs/furnito/favicon.html">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@">
<meta name="twitter:creator" content="@">
<meta name="twitter:title" content="Home 06">
<meta name="twitter:description" content="Furniture Shop Html Template">
<meta name="twitter:image" content="imgs/furnito/logo_01.png">

<meta property="og:url" content="home-06.html">
<meta property="og:title" content="Home 06">
<meta property="og:description" content="Furniture Shop Html Template">
<meta property="og:type" content="website">
<meta property="og:image" content="imgs/furnito/logo_01.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
</head>
<body>
<header class="main-header navbar-light header-sticky header-sticky-smart position-absolute fixed-top">
<div class="sticky-area">
<div class="container container-xxl">
<div class="d-none d-xl-block">
<nav class="navbar navbar-expand-xl px-0 py-2 py-xl-0 row no-gutters">
<div class="col-xl-3"><a class="navbar-brand mr-0" href="index.html">
<img src="imgs/furnito/logo.png" alt="Furnitor">
</a></div>
<div class="col-xl-6 d-flex justify-content-center position-static">
<!-- <ul class="navbar-nav hover-menu main-menu px-0 mx-xl-n4">
<li aria-haspopup="true" aria-expanded="false" class="nav-item dropdown-item-home dropdown py-2 py-xl-5 px-0 px-xl-4">
<a class="nav-link dropdown-toggle p-0" href="index.html" data-toggle="dropdown">
Home
<span class="caret"></span>
</a>
<ul class="dropdown-menu pt-3 pb-0 pb-xl-3 x-animated x-fadeInUp">
<li class="dropdown-item">
<a class="dropdown-link" href="home-01.html">
Home 01
</a>
</li>
<li class="dropdown-item">
<a class="dropdown-link" href="home-02.html">
Home 02
</a>
</li>
<li class="dropdown-item">
<a class="dropdown-link" href="home-03.html">
Home 03
</a>
</li>
<li class="dropdown-item">
<a class="dropdown-link" href="home-04.html">
Home 04
</a>
</li>
<li class="dropdown-item">
<a class="dropdown-link" href="home-05.html">
Home 05
</a>
</li>
<li class="dropdown-item active">
<a class="dropdown-link" href="home-06.html">
Home 06
</a>
</li>
<li class="dropdown-item">
<a class="dropdown-link" href="home-07.html">
Home 07
</a>
</li>
<li class="dropdown-item">
<a class="dropdown-link" href="home-08.html">
Home 08
</a>
</li>
<li class="dropdown-item">
<a class="dropdown-link" href="home-09.html">
Home 09
</a>
</li>
<li class="dropdown-item">
<a class="dropdown-link" href="home-10.html">
Home 10
</a>
</li>
<li class="dropdown-item">
<a class="dropdown-link" href="home-11.html">
Home 11
</a>
</li>
<li class="dropdown-item">
<a class="dropdown-link" href="home-12.html">
Home 12
</a>
</li>
</ul>
</li>
<li aria-haspopup="true" aria-expanded="false" class="nav-item dropdown-item-shop dropdown py-2 py-xl-5 px-0 px-xl-4">
<a class="nav-link dropdown-toggle p-0" href="store.html" data-toggle="dropdown">
Shop
<span class="caret"></span>
</a>
<div class="dropdown-menu dropdown-menu-xl px-0 pb-10 pt-5 dropdown-menu-listing overflow-hidden x-animated x-fadeInUp">
<div class="container container-xxl">
<div class="row no-gutters w-100">
<div class="col-2">

<h4 class="dropdown-header text-dark fs-16 mb-2 lh-1">
Shop Pages
</h4>

<div class="dropdown-item">
<a class="dropdown-link" href="shop-page-01.html">
Shop Layout <sup>V1</sup>
</a>
</div>
<div class="dropdown-item">
<a class="dropdown-link" href="shop-page-02.html">
Shop Layout <sup>V2</sup>
</a>
</div>
<div class="dropdown-item">
<a class="dropdown-link" href="shop-page-03.html">
Shop Layout <sup>V3</sup>
</a>
</div>
<div class="dropdown-item">
<a class="dropdown-link" href="shop-page-04.html">
Shop Layout <sup>V4</sup>
</a>
</div>

<div class="dropdown-item">
<a class="dropdown-link" href="shop-page-05.html">
Shop Layout <sup>V5</sup>
</a>
</div>
<div class="dropdown-item">
<a class="dropdown-link" href="shop-page-06.html">
Shop Layout <sup>V6</sup>
</a>
</div>
<div class="dropdown-item">
<a class="dropdown-link" href="shop-page-07.html">
Shop Layout <sup>V7</sup>
</a>
</div>
<div class="dropdown-item">
<a class="dropdown-link" href="shop-page-08.html">
Shop Layout <sup>V8</sup>
</a>
</div>
<div class="dropdown-item">
<a class="dropdown-link" href="shop-page-09.html">
Shop Layout <sup>V9</sup>
</a>
</div>
<div class="dropdown-item">
<a class="dropdown-link" href="shop-page-10.html">
Shop Layout <sup>V10</sup>
</a>
</div>
</div>
<div class="col-2">

<h4 class="dropdown-header text-dark fs-16 mb-2 lh-1">
Product Page
</h4>

<div class="dropdown-item">
<a class="dropdown-link" href="product-page-01.html">
Product Layout <sup>V1</sup>
</a>
</div>
<div class="dropdown-item">
<a class="dropdown-link" href="product-page-02.html">
Product Layout <sup>V2</sup>
</a>
</div>
<div class="dropdown-item">
<a class="dropdown-link" href="product-page-03.html">
Product Layout <sup>V3</sup>
</a>
</div>
<div class="dropdown-item">
<a class="dropdown-link" href="product-page-04.html">
Product Layout <sup>V4</sup>
</a>
</div>
<div class="dropdown-item">
<a class="dropdown-link" href="product-page-05.html">
Product Layout <sup>V5</sup>
</a>
</div>
<div class="dropdown-item">
<a class="dropdown-link" href="product-page-06.html">
Product Layout <sup>V6</sup>
</a>
</div>
<div class="dropdown-item">
<a class="dropdown-link" href="product-page-07.html">
Product Layout <sup>V7</sup>
</a>
</div>
<div class="dropdown-item">
<a class="dropdown-link" href="product-page-08.html">
Product Layout <sup>V8</sup>
</a>
</div>
</div>
<div class="col-2">

<h4 class="dropdown-header text-dark fs-16 mb-2 lh-1">
Product Type
</h4>

<div class="dropdown-item">
<a class="dropdown-link" href="product-page-03.html">
Product Simple
</a>
</div>
<div class="dropdown-item">
<a class="dropdown-link" href="product-page-05.html">
Product Variable
</a>
</div>
<div class="dropdown-item">
<a class="dropdown-link" href="product-page-07.html">
Product Time Limit
</a>
</div>
<div class="dropdown-item">
<a class="dropdown-link" href="product-page-06.html">
Product Grouped
</a>
</div>
<div class="dropdown-item">
<a class="dropdown-link" href="product-page-09.html">
Product External / Affiliate
</a>
</div>
</div>
<div class="col-2">

<h4 class="dropdown-header text-dark fs-16 mb-2 lh-1">
Other Pages
</h4>

<div class="dropdown-item">
<a class="dropdown-link" href="cart.html">
Cart
</a>
</div>
<div class="dropdown-item">
<a class="dropdown-link" href="compare.html">
Compare
</a>
</div>
<div class="dropdown-item">
<a class="dropdown-link" href="stores.html">
Store
</a>
</div>
<div class="dropdown-item">
<a class="dropdown-link" href="wishlist.html">
Wishlist
</a>
</div>
<div class="dropdown-item">
<a class="dropdown-link" href="checkout.html">
Checkout
</a>
</div>
</div>
<div class="col-4 h-100">
<div class="card border-0 mt-2">
<img src="imgs/furnito/menu.jpg" alt="Image Menu" class="card-img">
<div class="card-img-overlay d-flex flex-column pt-6 pb-5">
<p class="text-white font-weight-600 text-center mb-0">
Spring Season
</p>
<h3 class="text-white fs-40 text-center">Holiday Chairs</h3>
<div class="mt-auto text-center">
<a href="shop-page-03.html" class="btn btn-primary">shop
now</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</li>
<li aria-haspopup="true" aria-expanded="false" class="nav-item dropdown-item-pages dropdown py-2 py-xl-5 px-0 px-xl-4">
<a class="nav-link dropdown-toggle p-0" href="#" data-toggle="dropdown">
Pages
<span class="caret"></span>
</a>
<ul class="dropdown-menu pt-3 pb-0 pb-xl-3 x-animated x-fadeInUp">
<li class="dropdown-item dropdown dropright">
<a class="dropdown-link dropdown-toggle" href="#" data-toggle="dropdown">
About us
</a>
<ul class="dropdown-menu dropdown-submenu pt-3 pb-0 pb-xl-3 x-animated x-fadeInLeft">
<li class="dropdown-item">
<a class="dropdown-link" href="about-us-01.html">About Us 01</a>
</li>
<li class="dropdown-item">
<a class="dropdown-link" href="about-us-02.html">About Us 02</a>
</li>
</ul>
</li>
<li class="dropdown-item">
<a class="dropdown-link" href="faqs.html">
FAQs
</a>
</li>
<li class="dropdown-item">
<a class="dropdown-link" href="service.html">
Service
</a>
</li>
<li class="dropdown-item">
<a class="dropdown-link" href="login-register.html">
Login Register
</a>
</li>
</ul>
</li>
<li aria-haspopup="true" aria-expanded="false" class="nav-item dropdown-item-contact dropdown py-2 py-xl-5 px-0 px-xl-4">
<a class="nav-link dropdown-toggle p-0" href="#" data-toggle="dropdown">
Contact
<span class="caret"></span>
</a>
<ul class="dropdown-menu pt-3 pb-0 pb-xl-3 x-animated x-fadeInUp">
<li class="dropdown-item">
<a class="dropdown-link" href="contact-01.html">
Contact 01
</a>
</li>
<li class="dropdown-item">
<a class="dropdown-link" href="contact-02.html">
Contact 02
</a>
</li>
</ul>
</li>
<li aria-haspopup="true" aria-expanded="false" class="nav-item dropdown-item-blog dropdown py-2 py-xl-5 px-0 px-xl-4">
<a class="nav-link dropdown-toggle p-0" href="#" data-toggle="dropdown">
Blog
<span class="caret"></span>
</a>
<ul class="dropdown-menu pt-3 pb-0 pb-xl-3 x-animated x-fadeInUp">
<li class="dropdown-item dropdown dropright">
<a class="dropdown-link dropdown-toggle" href="#" data-toggle="dropdown">
Blog Listing
</a>
<ul class="dropdown-menu dropdown-submenu pt-3 pb-0 pb-xl-3 x-animated x-fadeInLeft">
<li class="dropdown-item">
<a class="dropdown-link" href="blog-layout-01.html">Blog Layout 01</a>
</li>
<li class="dropdown-item">
<a class="dropdown-link" href="blog-layout-02.html">Blog Layout 02</a>
</li>
<li class="dropdown-item">
<a class="dropdown-link" href="blog-layout-03.html">Blog Layout 03</a>
</li>
<li class="dropdown-item">
<a class="dropdown-link" href="blog-layout-04.html">Blog Layout 04</a>
</li>
</ul>
</li>
<li class="dropdown-item dropdown dropright">
<a class="dropdown-link dropdown-toggle" href="#" data-toggle="dropdown">
Blog Post
</a>
<ul class="dropdown-menu dropdown-submenu pt-3 pb-0 pb-xl-3 x-animated x-fadeInLeft">
<li class="dropdown-item">
<a class="dropdown-link" href="blog-post-01.html">Blog Post 01</a>
</li>
<li class="dropdown-item">
<a class="dropdown-link" href="blog-post-02.html">Blog Post 02</a>
</li>
</ul>
</li>
</ul>
</li>
<li aria-haspopup="true" aria-expanded="false" class="nav-item dropdown-item-docs dropdown py-2 py-xl-5 px-0 px-xl-4">
<a class="nav-link dropdown-toggle p-0" href="#" data-toggle="dropdown">
Docs
<span class="caret"></span>
</a>
<div class="dropdown-menu px-0 pt-3 dropdown-menu-docs x-animated x-fadeInUp">
<div class="dropdown-body">
<a class="dropdown-item py-1" href="docs/getting-started/dev-environment-setup.html">
<div class="media">
<div class="fs-20 mr-3">
<i class="fal fa-file-alt"></i>
</div>
<div class="media-body">
<span class="d-block lh-15">Documentation</span>
<small class="d-block">Kick-start customization</small>
</div>
</div>
</a>
<div class="dropdown-divider m-0"></div>
<a class="dropdown-item py-1" href="docs/content/typography.html">
<div class="media">
<div class="fs-20 mr-3">
<i class="fal fa-layer-group"></i>
</div>
<div class="media-body">
<span class="d-block lh-15">UI Kit<span class="badge badge-danger ml-2">50+</span></span>
<small class="d-block">Flexible components</small>
</div>
</div>
</a>
<div class="dropdown-divider m-0"></div>
<a class="dropdown-item py-1" href="docs/getting-started/changelog.html">
<div class="media">
<div class="fs-20 mr-3">
<i class="fal fa-edit"></i>
</div>
<div class="media-body">
<span class="d-block lh-15">Changelog<span class="badge badge-success ml-2">v1.1.0</span></span>
<small class="d-block">Regular updates</small>
</div>
</div>
</a>
<div class="dropdown-divider m-0"></div>
<a class="dropdown-item py-1" href="https://sp.g5plus.net/" target="_blank">
<div class="media">
<div class="fs-20 mr-3">
<i class="fal fa-life-ring"></i>
</div>
<div class="media-body">
<span class="d-block lh-15">Support</span>
<small class="d-block">https://sp.g5plus.net/</small>
</div>
</div>
</a>
</div>
</div>
</li>
</ul> -->
</div>
<div class="col-xl-3 position-relative">
<div class="d-flex align-items-center justify-content-end">
<a href="#search-popup" data-gtf-mfp="true" data-mfp-options="{&quot;type&quot;:&quot;inline&quot;,&quot;focus&quot;: &quot;#keyword&quot;,&quot;mainClass&quot;: &quot;mfp-search-form mfp-move-from-top mfp-align-top&quot;}" class="nav-search d-block py-0 pr-2" title="Search"><i class="far fa-search"></i></a>
<ul class="navbar-nav flex-row justify-content-xl-end d-flex flex-wrap text-body py-0 navbar-right">
<li class="nav-item">
<a class="nav-link pr-3 py-0" href="#">
<i class="far fa-user-alt"></i>
</a>
</li>
<li class="nav-item">
<a class="nav-link position-relative px-3 py-0" href="#"><i class="far fa-heart"></i>
<span class="position-absolute number">0</span></a>
</li>
<li class="nav-item">
<a class="nav-link position-relative px-3 menu-cart py-0" href="#" data-canvas="true" data-canvas-options="{&quot;container&quot;:&quot;.cart-canvas&quot;}">
<i class="far fa-shopping-basket"></i>
<span class="position-absolute number">0</span>
</a>
</li>
</ul>
</div>
</div>
</nav>
</div>
<div class="d-block d-xl-none">
<nav class="navbar navbar-expand-xl px-0 py-2 py-xl-0 w-100 align-items-center">
<button class="navbar-toggler border-0 px-0 canvas-toggle" type="button" data-canvas="true" data-canvas-options="{&quot;width&quot;:&quot;250px&quot;,&quot;container&quot;:&quot;.sidenav&quot;}">
<span class="fs-24 toggle-icon"></span>
</button>
<a class="navbar-brand d-inline-block mx-auto" href="index.html">
<img src="imgs/furnito/logo.png" alt="Furnitor">
</a>
<!-- <a href="#search-popup" data-gtf-mfp="true" data-mfp-options="{&quot;type&quot;:&quot;inline&quot;,&quot;focus&quot;: &quot;#keyword&quot;,&quot;mainClass&quot;: &quot;mfp-search-form mfp-move-from-top mfp-align-top&quot;}" class="nav-search d-block py-0" title="Search"><i class="far fa-search"></i></a> -->
</nav>
</div>
</div>
</div>
</header>
<main id="content">
<section class="overflow-hidden">
<div class="box">
  
<div class="d-flex flex-column bg-img-cover-center vh-100 justify-content-center custom-height-sm" style="background-image: url('imgs/furnito/bg-home-09_2.jpg')">
<div class="d-flex flex-column h-100 justify-content-center">
<div class="container container-xxl">
  <ul class="list-unstyled mx-auto"><% for( let index = 0; index < roomtype.length; index++ ) { %> 
    <li class="mr-6 mr-xl-16 mb-6"><a class="font-weight-bold text-primary mb-0" href="/roomtype/<%= roomtype[index]._id %>"><h5 class="mb-7 fs-25 fs-lg-30 " data-animate="fadeInUp"><%= roomtype[index].name %></h5></a></li>
    <% } %>

<div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="py-lg-15 py-11">
<div class="container container-xxl">
<h2 class="mb-8 text-center fs-30 fs-md-40">All items</h2>
<div class="row mb-6 overflow-hidden">
<div class="col-sm-6 col-lg-3 mb-6" data-animate="fadeInUp">
<div class="card border-0 hover-change-content product">
<div style="background-image: url('imgs/furnito/product-19.jpg')" class="card-img ratio bg-img-cover-center ratio-1-1">
</div>
<div class="card-img-overlay d-flex py-4 py-sm-5 pl-6 pr-4">
<div class="d-flex flex-column">
<a href="#" class="font-weight-bold mb-1 d-block lh-12">Bow Chair</a>
<a href="#" class="text-uppercase text-muted letter-spacing-05 fs-13 font-weight-500">Table</a>
<p class="mt-auto text-primary mb-0 font-weight-500">
$1390.00</p>
</div>
<div class="ml-auto d-flex flex-column">
<div class="my-auto content-change-vertical">
<a href="#" data-toggle="tooltip" data-placement="left" title="Add to card" class="add-to-cart d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle mb-2 border">
<i class="far fa-shopping-basket"></i>
</a>
<a href="#" data-toggle="tooltip" data-placement="left" title="Add to favourite" class="add-to-wishlist d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle mb-2 border">
<i class="far fa-heart"></i>
</a>
<a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare" class="add-to-compare d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle mb-2 border">
<i class="far fa-random"></i>
</a>
<a href="#" data-toggle="tooltip" data-placement="left" title="Preview" class="preview d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle mb-2 border">
<i class="far fa-eye"></i>
</a>
</div>
</div>
</div>
</div>
</div> 

</div>
</div>
</section>
</main>
<footer class="pb-4 footer">
<div class="mt-2 mt-md-7 row align-items-center">
<p class="col-md-auto mb-4 mb-md-0 text-gray lh-1 fs-14 font-weight-500">
© 2024 Furnitor. All rights reserved.
</p>
<ul class="list-inline mb-0 col-md-6 ml-auto text-md-right">
<li class="list-inline-item">
<a href="#"><img src="imgs/furnito/card_01.png" alt="Amex"></a>
</li>
<li class="list-inline-item">
<a href="#"><img src="imgs/furnito/card_02.png" alt="G-Pay"></a>
</li>
<li class="list-inline-item">
<a href="#"><img src="imgs/furnito/card_03.png" alt="Master Card"></a>
</li>
<li class="list-inline-item">
<a href="#"><img src="imgs/furnito/card_04.png" alt="Paypal"></a>
</li>
<li class="list-inline-item">
<a href="#"><img src="imgs/furnito/card_05.png" alt="D-Pay"></a>
</li>
<li class="list-inline-item">
<a href="#"><img src="imgs/furnito/card_06.png" alt="V-Card"></a>
</li>
</ul>
</div>
</div>
</footer>

<script src="/js/vendors/jquery.min.js"></script>
<script src="/js/vendors/jquery-ui/jquery-ui.min.js"></script>
<script src="/js/vendors/bootstrap/bootstrap.bundle.js"></script>
<script src="/js/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="/js/vendors/slick/slick.min.js"></script>
<script src="/js/vendors/waypoints/jquery.waypoints.min.js"></script>
<script src="/js/vendors/counter/countUp.js"></script>
<script src="/js/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/js/vendors/hc-sticky/hc-sticky.min.js"></script>
<script src="/js/vendors/jparallax/TweenMax.min.js"></script>
<script src="/js/vendors/mapbox-gl/mapbox-gl.js"></script>

<script src="js/theme.js"></script>

</div>
</div>
</div>
</body>

</html>