<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from htmldemo.net/furbar-1/furbar/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 11 Feb 2024 10:15:36 GMT -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Furbar - Furniture eCommerce Bootstrap 5 Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/svg+xml" href="/imgs/images/armchair-svgrepo-com.svg" />


    <!-- CSS
	============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/css/plugins/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="/css/plugins/font-awesome.min.css" />

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/css/plugins/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/plugins/animate.min.css" />
    <link rel="stylesheet" href="/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/plugins/odometer.min.css" />
    <link rel="stylesheet" href="/css/plugins/select2.min.css" />
    <link rel="stylesheet" href="/css/plugins/ion.rangeSlider.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Main Style CSS -->
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <link rel="stylesheet" href="/css/style.min.css" />
</head>


<body>
    <!-- Header Start  -->
    <div class="header-area header-sticky d-none d-lg-block">
        <div class="container position-relative">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <!-- Header Logo Start -->
                    <div class="header-logo">
                        <a href="/"><img src="/imgs/images/logo.png" width="154" height="46" alt="Logo" /></a>
                    </div>
                    <!-- Header Logo End -->
                </div>
                <div class="col-lg-6">
                    <div class="header-menu">
                       
                    </div>
                </div>
                <div class="col-lg-3">
                   
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Header Mobile Start -->
    <div class="header-mobile section d-lg-none">
        <!-- Header Mobile top Start -->
        <div class="header-mobile-top header-sticky">
            <div class="container">
                <div class="row row-cols-3 gx-2 align-items-center">
                    <div class="col">
                        <!-- Header Toggle Start -->
                        <div class="header-toggle">
                            <button class="mobile-menu-open" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                        <!-- Header Toggle End -->
                    </div>
                    <div class="col">
                        <!-- Header Logo Start -->
                        <div class="header-logo text-center">
                            <a href="/"><img src="/imgs/images/logo.png" width="154" height="46" alt="Logo" /></a>
                        </div>
                        <!-- Header Logo End -->
                    </div>
                    <div class="col">
                        <!-- Header Action Start -->
                        <div class="header-meta">
                            <div class="dropdown">
                                <a class="action" href="#" role="button" data-bs-toggle="dropdown"><i class="pe-7s-user"></i></a>

                            </div>
                            <a class="action" href="cart.html">
                                <i class="pe-7s-shopbag"></i>
                                <span class="number">3</span>
                            </a>
                        </div>
                        <!-- Header Action End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Mobile top End -->

        <!-- Header Mobile Bottom End -->
        <div class="header-mobile-bottom">
            <div class="container">
                <!-- Header Search Start -->
                <div class="header-search">
                    <form action="#">
                        <input type="text" placeholder="Enter your search key ... " />
                        <button><i class="pe-7s-search"></i></button>
                    </form>
                </div>
                <!-- Header Search End -->
            </div>
        </div>
        <!-- Header Mobile Bottom End -->
    </div>
    <!-- Header Mobile End -->

    <!-- off Canvas Start -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu">
        <div class="offcanvas-header">
            <!-- Canvas Action Start -->
            <div class="canvas-action">
                <a class="action" href="compare.html"><i class="icon-sliders"></i> Compare
                    <span class="action-num">(3)</span></a>
                <a class="action" href="wishlist.html"><i class="icon-heart"></i> Wishlist
                    <span class="action-num">(3)</span></a>
            </div>
            <!-- Canvas Action end -->

            <!-- Canvas Close bar Start -->
            <div class="canvas-close-bar">
                <span>Menu</span>
                <button class="menu-close" data-bs-dismiss="offcanvas">
                    <i class="pe-7s-angle-left"></i>
                </button>
            </div>
            <!-- Canvas Close bar End -->
        </div>

        <div class="offcanvas-body">
            <!-- Canvas Menu Start -->
            <div class="canvas-menu">
                <nav>
                   
                </nav>
            </div>
            <!-- Canvas Menu End -->
        </div>
    </div>
    <!-- off Canvas End -->


    <!-- Page Banner Section Start -->
    <div class="section page-banner-section" style="background-image: url(/imgs/images/page-banner.jpg); height: 50%;">
        <div class="container">
            <!-- Page Banner Content End -->
            <div class="page-banner-content">
                <h2 class="title">Register</h2>

                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Register</li>
                </ul>
            </div>
            <!-- Page Banner Content End -->
        </div>
    </div>
    <!-- Page Banner Section End -->

    <!-- Register Section Start -->
    <div class="section section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <!-- Login & Register Start -->
                    <div class="login-register-wrapper">
                        <h4 class="title">Create New Account</h4>
                        <p>
                            Already have an account?
                            <a href="/login">Log in instead!</a>
                        </p>
                        <form id='signupForm' action="/signup" method="post" >
                            <div class="mb-3">
                              <label for="" class="form-label">Name</label>
                              <input required="true" pattern=".*\S+.*" title="Please enter a value other than space." type="text" class="form-control" id="name" name="name">
                            </div>
                            <div class="mb-3">
                              <label for="" class="form-label">Email address</label><% if (locals.messageemail) { %>
                                <span style="color: red; margin-left: 50%;"><%= messageemail %></span><% } %>
                              <input type="email" class="form-control" id="email" onblur="viewbutton()" aria-describedby="emailHelp" required="true" id="email" name="email">
                            
                              <div id="emailHelp" class="form-text d-flex flex-col align-items-center justify-content-end">
                                <div class="form-text d-flex flex-col  align-items-center">
                                  <div class=" " id="view" style="display: none;">
                                    <div class="d-flex flex-col">
                                  
                                      <input class="" type="text" id="otp" class="" placeholder="OTP" maxlength="5">
                                      <button class="btn btn-primary btn-sm btn-hover-success p-1 mx-1" id="verify" onclick="verifyOTP()" type="button">Verify</button>
                                    </div>
                                    <div class=" d-flex flex-col  align-items-center " id="result"></div>
                                  </div>
                                  <div class="d-flex flex-col align-items-center" id="dummy">
                                  <div class="form-text d-flex flex-col align-items-center mx-1" id="countdown"></div>
                                <button class="btn btn-primary btn-hover-secondary btn-sm p-1  m-1" id="collapse"  style="display: none;" type="button"  onclick="sendOTP()" >
                                  Send OTP
                                </button></div>
                                
                              </div>
                              </div>
                            </div>
                            <div class="mb-3">
                              <label for="" class="form-label">Mobile Number</label><% if (locals.messagephn) { %>
                                <span style="color: red; margin-left: 40%;"><%= messagephn %></span><% } %>
                              <input type="number"  class="form-control"  id="phone" aria-describedby="emailHelp" maxlength="10" required="true"  name="phone">
                                <div  class="mb-3">
                                    <label for="password" class="form-label">Password</label><% if (locals.resultpassword) { %>
                                      <span style="color: red; margin-left: 40%;"><%= resultpassword %></span><% } %>
                                    <input oninput="isstrong(this.value)" type="password" required="true" class="form-control" id="password" name="password" minlength="8">
                                    <span class="message" id="strong-password">
                                  </div>
                                  <div class="mb-3">
                                    <label for="confirmpassword" class="form-label">Confirm Password</label>
                                    <input type="password" required="true" class="form-control" id="confirmpassword" minlength="8" oninput="checkPasswordMatch()" name="confirmpassword">
                                    <div class="form-text" id="passwordMatchMessage"></div>
                                  </div>
                                <div>
                                  <label for="confirmpassword" class="form-label">Referral code <em><small>(optional)</small> </em></label>
                                    <input  oninput="this.value = this.value.toUpperCase()" type="text" class="form-control" id="referralCode" name="referralCode">
                                    </div>
                                  <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1" required="true">
                                    <label class="form-check-label"  for="exampleCheck1">I agree the terms and conditons</label>
                                  </div>
                                  <div class="single-form">
                                    <button id="signupbtn" class="btn btn-primary btn-hover-dark">
                                        Register
                                    </button>
                                </div>
                            </div>
                            
                          </form>
                       
                    </div>
                    <!-- Login & Register End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Register Section End -->

    <!-- Footer Section Start -->
    <div class="section footer-section">
        <!-- Footer Top Start -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-md-4">
                        <!-- Footer Logo Start -->
                        <div class="footer-logo">
                            <a href="/"><img src="/imgs/images/logo.png" width="154" height="46" alt="Logo" /></a>
                        </div>
                        <!-- Footer Logo End -->
                    </div>
                    <div class="col-xl-5 col-md-8">
                        <!-- Footer Contact & Payment End -->
                        <div class="footer-contact-payment d-flex justify-content-around">
                            <div class="footer-contact">
                                <div class="contact-icon">
                                    <img src="/imgs/images/icon/icon-4.png" width="39" height="46" alt="Icon" />
                                </div>
    
                                <div class="contact-content">
                                    <h6 class="title">Call Us:</h6>
                                    <p>9495785815</p>
                                </div>
                            </div>
                            
                        </div>
                        <!-- Footer Contact & Payment End -->
                    </div>
                    <div class="col-xl-5 d-flex align-items-center justify-content-end">
                      <div class="footer-payment">
                        <img src="/imgs/images/payment.png" width="192" height="21" alt="Payment" />
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Top End -->
    
        <!-- Footer Copyright End -->
        <div class="copyright">
            <div class="container">
                <div class="copyright-text">
                    <p>
                        &copy; 2024 <span> Casaluxe </span>
                    </p>
                </div>
            </div>
        </div>
        <!-- Footer Copyright End -->
    </div>
    <!-- Footer Section End -->

    <!--Back To Start-->
    <button id="backBtn" class="back-to-top"><i class="pe-7s-angle-up"></i></button>
    <!--Back To End-->
    <!-- JS
    ============================================ -->

    <!-- Modernizer & jQuery JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.all.min.js"></script>
    <script src="/js/userJs/modernizr-3.11.2.min.js"></script>
    <script src="/js/userJs/jquery-3.5.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="/js/plugins/popper.min.js"></script>
    <script src="/js/plugins/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="/js/plugins/swiper-bundle.min.js"></script>
    <script src="/js/plugins/ajax-contact.js"></script>
    <script src="/js/plugins/odometer.min.js"></script>
    <script src="/js/plugins/select2.min.js"></script>
    <script src="/js/plugins/ion.rangeSlider.min.js"></script>
    <script src="/js/plugins/jquery.zoom.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Main JS -->
    <script src="/js/userJs/mainfront.js"></script>
    <script src="/js/userJs/signupUser.js"> </script>

</body>


<!-- Mirrored from htmldemo.net/furbar-1/furbar/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 11 Feb 2024 10:15:36 GMT -->
</html>